.bg-navbar {
    background-color: #35aab1;
}

nav a {
    font-size: large;
}

main {
    background-image: url(../assets/asset/WhatsApp\ Image\ 2021-04-09\ at\ 20.35\ 2.svg);
    background-size: cover;
/*     height: 825px; */
    background-attachment: fixed;
}

.btn-profile {
    background-color: #ff7628;
    color: white;
    opacity: 0.8;
}

.btn-profile:hover {
    opacity: 1;
    color: white;
}

.btn-cancel {
    background-color: #35aab1;
    color: white;
    opacity: 0.8;
}

.btn-cancel:hover {
    opacity: 1;
    color: white;
}